@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 70px;
  background-color: #83c5be;
  padding: 20px 75px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
}

nav a.logo {
  font-size: 3.5em;
  font-weight: 700;
  color: #006D77;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 60%;
  color: #006D77;
  
}

nav a.link {
  color: #006D77;
  text-transform: uppercase;
  margin: 0 20px;
}

a:visited, 
a:active {
  color: #006D77;
}

div.welcome {
  text-align: left;
  margin-right: 20px;
  color: #006D77;
}

@media screen and (max-width: 900px){
  nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 50px;
    padding: 10px 20px;
  }
  nav a.logo {
    font-size: 2.5em;
  }
  .nav-right {
    display: none;
  }
  div.welcome {
    display: none;
  }
}