/* --------- most classes also used and pulled in from SignUp.css -------------- */

div.user-form-container.sign-up {
  width: 400px;
  /* height: 550px; */
  margin: 70px;
  /* width: 400px; */
  height: 975px;
  /* margin: 80px auto; */
  margin-bottom: 100px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 20px;
}

div.input-group {
  margin: 40px auto;
  width: 70%;
}

@media screen and (max-width: 700px){
  div.user-form-container.sign-up {
    margin: 70px auto;
  }
}

@media screen and (max-width: 600px){
  div.user-form-container.sign-up {
    max-width: 350px;
    padding: 10px 10px;
    margin-bottom: 200px;
  }
  div.input-group {
    width: 80%;
    margin: 20px 0;
  }
  .sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
