
.project-description {
  line-height: 2em;
}

.contact-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.contact-card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 240px;
  height: 200px;
  margin: 40px;
}

.team-name {
  padding: 20px 0;
}
img.social-bug {
  height: 35px;
  width: auto;
  margin: 10px;
}


@media screen and (max-width: 900px){

}