/* burger menu idea from: https://css-tricks.com/hamburger-menu-with-a-side-of-react-hooks-and-styled-components/ */
.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 0;
  right: 0;
  background: white;
  height: 100vh;
  width: 20em;
  text-align: left;
  padding-top: 100px;
  position: absolute;
}

.menu a {
  padding: 15px 50px;
}

.menu a:hover {
  color: #83c5be;
}

.menu-enter {
  opacity: 0;
}

.menu-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.menu-exit {
  opacity: 1;
}

.menu-exit-active {
  opacity: 0;
  transition: opacity 500ms;
  display: none;
}

div.link.welcome {
  line-height: 1.5em;
}

@media screen and (max-width: 500) {
  .menu {
    text-align: center;
  }
}
