.event-detail-wrapper {
  display: flex;
  align-items: center;
  padding: 30px 0px;
  /* height: 100vh; */
}

.event-detail-container {
  display: flex;
  height: 80%;
  width: 70%;
  box-sizing: border-box;
  margin: auto;
  justify-content: space-evenly;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 50%;
  max-width: 50%;
  padding: 25px;
  height: auto;
  width: auto;
  box-sizing: border-box;
  margin: 0 auto;
}

.event-detail-img {
  width: 85%;
  height: 90%;
  object-fit: cover;
}

.event-detail-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 1.5;
  width: 80%;
  /* margin-right: 5em; */
  padding: 25px;
}

.content-title {
  font-size: 36px;
  padding: 5px;
}

.content-bold {
  font-weight: bold;
  width: 100%;
  margin: .5em 0em;
}

.content-regular {
  font-weight: normal;
  word-spacing: 2px;
  margin-left: 5px;
}

.sub-container {
  display: flex;
  flex-direction: row;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 4em 0em;
}

.update-button {
  display: block;
  height: 45px;
  width: 150px;
  background-color: #ffddd2;
  border: 1px solid #E29578;
  color: #E29578;
  font-weight: bold;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

@media (max-width: 1024px) {
  
  .event-detail-container {
    flex-direction: column;
  }
  
  .image-container {
    max-width: 95%;
    padding-top: 10%;
    margin: 0 auto;
  }

  .event-detail-img {
    width: 70%;
    height: 70%;
    object-fit: cover;
  }

  .event-detail-content {
    width: 75%;
    margin: 0 auto;
    
  }


}

@media (max-width: 700px) {
  .event-detail-container {
    align-items: center;
    width: 90%;
  }
  .image-container {
    max-width: 95%;
    
  }

  .event-detail-img {
    width: 90%;
    height: 90%;
    object-fit: cover;
  }

  .event-detail-wrapper {
    width: 100%;
  }
  .event-detail-content {
    width: 85%;
    box-sizing: border-box;
    padding: 0px 50px;
  }

  .content-title {
    text-align: center;
  }
}

@media (max-width: 375px) {
  .image-container {
    max-width: 100%;
    margin: 0;
  }

  .event-detail-img {
    width: 90%;
    height: 50%;
    object-fit: cover;
  }

  .sub-container {
    flex-direction: column;
  }

  .event-detail-content {
    padding: 0px 30px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
  }

  .event-detail-button {
    padding: 35px 0px;
  }

}