.card-image {
  width: 200px;
  height: 200px;
  margin: 1.5em;
}

/* make 4 column max, go down to 1 on screen */

.event-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 2em;
  font-size: 12px;
}
.event-card-title {
  font-weight: bold;
}

.event-card-date {
  margin: 0.5em;
}
.event-card-time {
  margin: 0.5em;
  margin-bottom: 1em;
}
