a:visited {
  color: black;
}

a {
  color: black;
}
/* img {
  max-width: 100%;
} */
/* make 4 column max, go down to 1 on screen */

.event-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* margin: 0 auto; */
  margin: 2em auto;
  min-height: fit-content;
  font-size: 12px;
  text-decoration: none;
  /* width: 300px; */
  /* flex-grow: 1;
  height: 40vh; */
  flex: 0 1 30%;
  border-radius: 10px;
}
.event-card:hover {
  transform: scale(1.01);
}
.event-card-image-container {
  width: 350px;
  height: 250px;
  margin: 0 auto;
}
.event-card-image {
  /* width: 200px;
  height: 200px; */
  width: 90%;
  height: 90%;
  margin: 1em auto;
  /* max-width: 30vh;
  max-height: 30vh; */
  object-fit: cover;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19); */
}
.event-info-container {
  min-width: 200px;
  min-height: 100px;
  margin: 0 auto;
  font-size: 16px;
}
.event-card-title {
  font-weight: bold;
}

.event-card-date {
  margin: 0.5em;
}
.event-card-time {
  margin: 0.5em;
  margin-bottom: 1em;
}
