a:visited {
  color: black;
}

a {
  color: black;
}
/* img {
  max-width: 100%;
} */
/* make 4 column max, go down to 1 on screen */

.event-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 2em;
  font-size: 12px;
  text-decoration: none;
  /* width: 30%;
  flex-grow: 1;
  height: 40vh; */
  flex: 0 1 30%;
}
.event-card-image {
  /* width: 200px;
  height: 200px; */
  width: 90%;
  height: 90%;
  margin: 1.5em;
  max-width: 30vh;
  max-height: 30vh;
}
/* .event-info-container {
  width: 80%;
  height: 30%;
} */
.event-card-title {
  font-weight: bold;
}

.event-card-date {
  margin: 0.5em;
}
.event-card-time {
  margin: 0.5em;
  margin-bottom: 1em;
}
