button {
  padding: 10px 30px;
  box-shadow: 0 3px 5px gray;
  border-radius: 5px;
  border: 1px solid #e29578;
  background-color: #ffddd2;
  color: #e29578;
}

button:active {
  transform: translateY(2px);
  box-shadow: none;
}

button:hover {
  border: 1px solid #ffddd2;
  background-color: #e29578;
  color: #ffddd2;
}