footer {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  background-color: #83c5be;
  height: 80px;
  padding: 20px 0;
  font-weight: 700;
  color: #006D77;
  text-transform: uppercase;
}

.footer {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.gitHub-footer{
  width: 60%;
}

.social-bug-footer {
  height: 60px;
  width: auto;
  margin: 0 auto;
}

footer a.contact-us {
  margin: auto 10px;
  width: 205px;
  color: #006D77;
}

p.footer-branding {
  margin: auto 10px;
}
