.div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.mobile-event-header {
  display: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin: 100px 0px;
}

.event-img {
  margin: 0px 65px;
  padding-bottom: 100px;
  margin: 0px 160px;
  color: #006d77;
  font-weight: bold;
}

.image-of-event {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

#file {
  display: none;
}

.cloud-upload {
  /* hover: bg-gray-700 mt-4 border-2 rounded-md text-center flex flex-col
    items-center border-gray-200 px-2; */
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  color: #e29578;
  width: 115px;
  border: 1px solid #e29578;
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ffddd2;
  box-shadow: 0 3px 5px grey;
}

svg.cloud {
  color: #e29578;
  font-size: 1.5em;
  vertical-align: middle;
}

.title,
.location,
.details {
  text-align: left;
  color: #006d77;
  font-weight: bold;
  padding: 15px;
}

input {
  border: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-top: 7px;
  border-radius: 5px;
  color: gray;
}

.age-input {
  border: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-top: 7px;
  border-radius: 5px;
  background-color: white;
  color: gray;
}

.title-input,
.location-input {
  width: 100%;
  box-sizing: border-box;
}

.date-input {
  width: 80%;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: white;
}

.start-input {
  width: 70%;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: white;
}

.end-input {
  width: 70%;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: white;
}

.age-input {
  width: 90%;
  margin-top: 10px;
  padding: 5px 10px;
}

.cost-input {
  width: 100%;
  box-sizing: border-box;
  height: 39px;
}

.form-input {
  padding: 10px;
}

.form-label {
  font-size: 14px;
}

.details-input {
  width: 100%;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
  line-height: 1.5em;
  color: gray;
  margin: 10px 0;
}
.date {
  width: 38%;
}
.date-time {
  display: flex;
  justify-content: space-between;
  color: #006d77;
  font-weight: bold;
  text-align: left;
  margin-left: 15px;
  padding: 15px 0px;
}

.end-time,
.start-time {
  display: flex;
  flex-direction: column;
  justify-content: right;
  width: 33%;
}

.age-cost {
  display: flex;
  justify-content: space-between;
  text-align: left;
  color: #006d77;
  font-weight: bold;
  padding: 15px;
}

@media (max-width: 1024px) {
  .age-cost {
    display: flex;
    flex-direction: column;
  }

  .event-img {
    padding-bottom: 100px;
    margin: 0px 80px;
  }
}

@media (max-width: 700px) {
  .div {
    flex-direction: column-reverse;
  }

  .event-header {
    display: none;
  }

  .mobile-event-header {
    display: block;
    color: #006d77;
  }

  .form-container {
    margin: 0;
    padding-bottom: 40px;
    width: 75%;
  }
}

@media (max-width: 450px) {
  .div {
    width: 100%;
  }

  .mobile-event-header {
    display: block;
    color: #006d77;
  }

  .event-header {
    display: none;
  }

  .date-time {
    flex-direction: column;
  }

  .age-cost {
    flex-direction: column;
  }

  .form-label {
    display: block;
  }

  .date-input,
  .start-input,
  .end-input {
    width: 91%;
  }

  .start-time,
  cost {
    margin: 15px 0px;
    padding: 15px 0px;
  }
  .start-time,
  .end-time,
  .date {
    width: 95%;
  }
  .age-input {
    width: 100%;
  }

  .age,
  .cost {
    padding: 15px 0px;
  }

  .age-cost {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .file {
    width: 80%;
  }
}
