h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px 75px;
}

input {
  border: white;
  box-shadow: 0px 1px 1px 2px rgb(210, 207, 207);
  margin-top: 7px;
  border-radius: 5px;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form {
}

.event-img {
}

.file {
  font-size: 1em;
  font-weight: 700;
  width: 42%;
  cursor: pointer;
  background-color: #e29578;
}

.title,
.date-time,
.location,
.details,
.event-img {
  text-align: left;
  color: #006d77;
  font-weight: bold;
  padding: 15px;
}

.title-input,
.location-input {
  width: 100%;
  padding: 10px 10px;
}

.age-cost {
  display: flex;
  flex-direction: row;
  text-align: left;
  color: #006d77;
  font-weight: bold;
  padding: 15px;
}

.age-input,
.cost-input {
  width: 20%;
  padding: 2px;
}

.details-input {
  width: 100%;
  padding: 50px 10px;
}

.button {
  background-color: #e29578;
  padding: 7px 50px;
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0px 0px 1px 1px rgb(252, 168, 138);
}
