.div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input {
  border: white;
  box-shadow: 0px 1px 1px 2px rgb(210, 207, 207);
  margin-top: 7px;
  border-radius: 5px;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.event-img {
  margin: 0px 65px;
  padding-bottom: 100px;
  margin: 0px 160px;
  color: #006d77;
  font-weight: bold;
}

.h3 {
  font-size: 30px;
  text-align: center;
}

.image-of-event {
  width: 300px;
  height: 400px;
}

.file {
  font-size: 1em;
  font-weight: 700;
  width: 42%;
  cursor: pointer;
  background-color: #e29578;
}

.title,
.location,
.details {
  text-align: left;
  color: #006d77;
  font-weight: bold;
  padding: 15px;
}

.title-input,
.location-input {
  width: 100%;
  padding: 10px 10px;
}

.three-divs {
  display: flex;
  flex-direction: column;
}

.date-time {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #006d77;
  font-weight: bold;
  text-align: left;
  margin-left: 15px;
}

.date-input {
  width: 80%;
  margin-top: 10px;
  padding: 5px 10px;
}

.start-input {
  width: 60%;
  margin-top: 10px;
  padding: 5px 10px;
}

.end-input {
  width: 60%;
  margin-top: 10px;
  padding: 5px 10px;
}

.age-cost {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
  color: #006d77;
  font-weight: bold;
  padding: 15px;
}

.age-input {
  width: 97%;
  margin-top: 10px;
  padding: 5px 10px;
}

.cost-input {
  width: 97%;
  margin-top: 9px;
  padding: 5px 10px;
}

.details-input {
  width: 100%;
  padding: 50px 10px;
}

@media (max-width: 900px) {
}
