.authentication-form {
  height: 100vh;
  padding-bottom: 200px;
}

.user-form-container {
  width: 400px;
  height: 500px;
  margin: 70px auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-form-heading {
  padding: 50px 0;
  text-transform: uppercase;
  font-size: 2em;
  color: #006d77;

}

.user-form {
  width: 70%;
  margin: 20px auto;
  
}

.user-label {
  display: block;
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
  color: #006d77;
  font-weight: 700;
}

.user-input{
  width: 100%;
  padding: 20px 20px;
  box-shadow: none;
  box-sizing: border-box; 
  border: 1px solid gray;
  height: 36px;
}

.password-group {
  margin: 50px 0;
}

.danger {
  color: red;
}

@media screen and (max-width: 400px){
  .user-form-container {
    width: 100%;

  }
}
