
hr {
  width: 95%;
  border: none;
  height: 1px;
  background-color: #006d77;
}

/* ---------------- hero styling, section 1 ------------------ */
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60%;
  margin: 0 10%;
}

.hero-text {
  text-align: left;
  width: 35%;
}

.hero-title {
  text-transform: uppercase;
  line-height: 1.5em;
  color: #006d77;
  font-size: 3em;
  font-weight: 700;
}

.hero-description {
  margin: 0px 30px 40px 0px;
}

.hero-img {
  width: 80%;
  height: auto;
  padding: 50px 0;
}

/* ------------------ branding middle section 2 ------------------- */
.branding {
  display: flex;
  /* flex-wrap: wrap; */
  margin: 40px 100px;
}

.branding-item {
  text-align: left;
  margin: 0px 40px;
}

.heading {
  font-size: 2em;
  margin: 0px 0px 20px;
  font-weight: 700;
}

.description {
  font-size: 0.875em;
  margin: 0px;
  font-weight: 400;
}

/* ------------------ upcoming events, section 3 ------------------ */
.upcoming {
  display: flex;
  text-align: left;
  color: #006d77;
  text-transform: uppercase;
  margin-left: 2.5%;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  height: 600px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 100%;
  padding: 0 2%;
  height: 400px;
  /* overflow: scroll; */
}

div.cards.card {
  border: 1px solid red;
}

@media screen and (max-width: 1500px){
  .cards {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1024px) {
  .hero-title {
    line-height: 1.5em;
    font-size: 2em;
    margin-top: 10px;
  }
  .hero-description {
    margin: 0px 20px 20px 0px;
  }
  .branding {
    margin: 30px 50px;
  }
  .branding-item {
    margin: 0 20px;
  }
  
}

@media screen and (max-width: 900px) {
  .hero-text {
    width: 70%;
    margin-bottom: 30px;
    padding-right: 10px;
  }
  .hero-title {
    line-height: 1.4em;
    font-size: 1.75em;
    margin-top: 10px;
  }
  .hero-description {
    margin: 0px 5px 20px 0px;
  }
  .branding {
    margin: 20px 30px;
    justify-content: center;
  }
}

@media screen and (max-width: 675px) {
  .hero {
    flex-direction: column-reverse;
  }
  .branding {
    flex-direction: column;
    align-content: center;
    width: 70%;
    margin: 10px auto;
  }
  .branding-item {
    margin: 20px 30px;
  }
  .heading {
    justify-content: flex-start;
  }
}
