.burger{
  position: absolute;
  top: 1%;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}
  
.burger:focus {
  outline: none;
}

span.patty {
  width: 2rem;
  height: 0.25rem;
  background: #006D77;
  border-radius: 10px;
  transition: all 0.1s linear;
  position: relative;
  transform-origin: 1px;
}

span.rotate:first-child {
  transform: rotate(45deg);
}

span.rotate:nth-child(2) {
  opacity: 0;
  transform: translateX(20px);
}

span.rotate:nth-child(3) {
  transform: rotate(-45deg);
}